.previous-bids {
  max-height: 100%;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.bid {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
