.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px; /* Adjust to position the dropdown below the menu icon */
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  animation: dropdownAnimation 0.3s ease;
  z-index: 1000; /* Ensure the dropdown is above other elements */
}

.dropdown a {
  padding: 10px;
  text-decoration: none;
  color: #333;
}

@keyframes dropdownAnimation {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
