.nav {
  display: flex;
  justify-content: space-between; /* Distribute the nav links */
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  padding: 0 5%; /* Add padding to create space on the left and right */
}

.nav a {
  flex: 0 0 24%; /* Set each nav link to take 24% of the width */
  margin: 0 2%; /* Add 2% margin on the left and right to create space between links */
  padding: 10px 0; /* Adjust padding for a smaller button size */
  text-decoration: none;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: background-color 0.3s;
  text-align: center;
}

.nav a:hover {
  background-color: #eee;
}

.nav a.active {
  font-weight: bold;
  border-color: #333;
}
