.listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  /*background-color: #fff; !* Ensure background color to make text visible *!*/
}

.listing__image-container {
  width: 100%;
  cursor: pointer;
}

.listing__image {
  width: 100%;
  height: auto;
}

.listing__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.listing__name,
.listing__price,
.listing__created-at {
  margin: 5px 0;
}

.listing__seller {
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 50%;
}
